.reveal {
  font-size: 35px;
}

.reveal h1 { font-size: 1.8em; }
.reveal h2 { font-size: 1.3em; }
.reveal p  { font-size: 0.9em; }
.reveal li { font-size: 0.9em; }
.reveal td, .reveal th { font-size: 0.8em; }
